.z-album-collection-box {
	OVERFLOW: hidden; MARGIN-BOTTOM: 30px; BORDER-BOTTOM: #e6e6e6 1px solid; POSITION: relative; PADDING-BOTTOM: 50px; WIDTH: 780px
}
.z-album-collection-box .bacb-head {
	HEIGHT: 28px; POSITION: relative; PADDING-LEFT: 10px
}
.z-album-collection-box .bacb-title {
	FONT-SIZE: 19px; FONT-FAMILY: 'Microsoft YaHei',sans-serif; LINE-HEIGHT: 28px
}
.bacb-more {
	FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/s/arr.gif) no-repeat 54px -23px; RIGHT: 8px; POSITION: absolute; TEXT-DECORATION: none; LINE-HEIGHT: 14px; TOP: 8px; PADDING-RIGHT: 11px
}
.bacb-more:hover {
	TEXT-DECORATION: none
}
.z-album-pagebar {
	RIGHT: 15px; POSITION: absolute; COLOR: #aaa; TEXT-ALIGN: right; BOTTOM: 10px
}
.z-album-pagebar SPAN {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.bacb-left-btn {
	CURSOR: default; BORDER-TOP: #fff 1px solid; HEIGHT: 19px; BORDER-RIGHT: #fff 1px solid; BACKGROUND: url(/static/lemma/view/img/z-album-pageover_423fc673.png) no-repeat; BORDER-BOTTOM: #fff 1px solid; FLOAT: right; MARGIN-LEFT: 3px; TEXT-DECORATION: none; BORDER-LEFT: #fff 1px solid; DISPLAY: block; WIDTH: 19px
}
.bacb-right-btn {
	CURSOR: default; BORDER-TOP: #fff 1px solid; HEIGHT: 19px; BORDER-RIGHT: #fff 1px solid; BACKGROUND: url(/static/lemma/view/img/z-album-pageover_423fc673.png) no-repeat; BORDER-BOTTOM: #fff 1px solid; FLOAT: right; MARGIN-LEFT: 3px; TEXT-DECORATION: none; BORDER-LEFT: #fff 1px solid; DISPLAY: block; WIDTH: 19px
}
.bacb-right-btn {
	BACKGROUND-POSITION: -19px 0px
}
.right-enable {
	CURSOR: pointer
}
.left-enable {
	CURSOR: pointer
}
.right-enable {
	BACKGROUND-POSITION: -19px -19px
}
.left-enable {
	BACKGROUND-POSITION: 0px -19px
}
.bacb-window-outer {
	OVERFLOW-X: hidden; OVERFLOW-Y: visible; POSITION: relative; MARGIN-TOP: 15px
}
.bacb-window-inner {
	OVERFLOW: hidden; POSITION: relative; PADDING-LEFT: 6px; LEFT: 0px; TOP: 0px; WIDTH: 650px; _padding-top: 1px
}
.bacb-window-inner .item {
	VERTICAL-ALIGN: bottom; ZOOM: 1; DISPLAY: inline; WIDTH: 185px; MARGIN-RIGHT: 10px
}
.bacb-window-inner .img {
	ZOOM: 1
}
.bacb-window-inner .img .img-wrapper {
	BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none; MARGIN: 0px auto; BORDER-LEFT: #e0e0e0 1px solid; DISPLAY: block; LINE-HEIGHT: 1px
}
.bacb-window-inner .item .desc {
	OVERFLOW: hidden; FONT-SIZE: 12px; BORDER-TOP: #e0e0e0 0px solid; HEIGHT: 35px; FONT-FAMILY: ו; BORDER-RIGHT: #e0e0e0 1px solid; BACKGROUND: #fff; WHITE-SPACE: nowrap; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; CLEAR: both; MARGIN: 0px auto; BORDER-LEFT: #e0e0e0 1px solid; LINE-HEIGHT: 35px; TEXT-INDENT: 10px
}
.bacb-window-inner .item .count {
	WHITE-SPACE: nowrap; COLOR: #999
}
.bacb-window-inner .item .desc A {
	HEIGHT: 100%; COLOR: #555; TEXT-DECORATION: none; DISPLAY: block; WIDTH: 100%
}
